NEXT_PUBLIC_APP_URL="https://watch.freelo.gay"
NEXT_PUBLIC_TMDB_TOKEN="lol"
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID="G-XXXXXXXXXX"
NEXT_PUBLIC_SITE_NAME="watch.freelo.gay"
NEXT_PUBLIC_TWITTER="https://twitter.com/"
NEXT_PUBLIC_FACEBOOK="https://facebook.com/"
NEXT_PUBLIC_INSTAGRAM="https://instagram.com/"
NEXT_PUBLIC_YOUTUBE="https://youtube.com/"
